*{
    margin: 0;
}
.first-container {
    outline: orangered;
    width: 120%;
    height: 86vh;
    border-radius: 15px;
    margin-bottom: 100px;
    transition: all 0.3s ease-in-out;
    display: flex;
    
}

.first-container .first-content {
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 50px;
    width: 585px;
    height: 585px;
    gap: 20px;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    flex-direction: column;
}
.first-container .first-content a p{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}
.first-container .first-content a p:hover{
    color: rgba(0, 0, 0, 0.593);
}
.first-container .first-image {
    width: 800px;
    height: 585px;
}

.first-container .underscore {
    margin-top: none;
}

.first-container .first-content .contact-content {
    font-weight: 600;
    font-size: 15px;
    margin-top: 40px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
    border: none;
}

.second-container {
    margin-top: 50px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.second-container .second-content {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 150px;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    word-spacing: 2px;
}


.about .description-image {
    width: 50px;
    height: 50px;
    border: 2px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about .description-image svg {
    color: #FF7A00;
}

.second-container .second-content .mission-content {
    line-height: 1.6;
    color:#6a5848;
}

.third-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    margin-bottom: 150px;
}


.third-container .card {
    border: 2px solid rgb(199, 195, 195);
    padding: 20px;
    flex: 0.3;
}
.third-container .card .card-content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.third-container .card >p{
     color:#6a5848;
     line-height: 1.2;

}
.third-container .card .card-content div{
    display: flex;
    flex-direction: column;
}
.third-container .card .card-content div p{
    font-size: 0.8rem;
    font-weight: 600;
    color:#6a5848;
}
.third-container .card .card-content div h2{
    padding: 0;
}
.third-container .card .card-content svg{
    font-size: 50px;
    background-color: #FF7A00;
    color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
}
.fourth-container {
    margin-top: 50px;
    margin: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.fourth-container .fourth-content {
    gap: 10px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}



.fourth-container .fourth-description {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 100px;
}
.fourth-container .fourth-description div{
    margin-bottom:20px;
}
.fourth-container .fourth-description h2{
    margin-bottom: 10px;
}
.fourth-container .fourth-description p{
    font-size: 1rem;
    color: #6a5848;
}
.leader-container .leader-content {
    display: flex;
}
.leader{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leader img{
    height: 400px;
    width: 50%;
    object-fit: cover;
}
.leader .textarea{
    width: 50%;
    padding-left: 100px;
}
.leader .textarea h3{
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.leader .textarea p:nth-of-type(1){
    margin-bottom: 20px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #6a5848;

}
.leader .textarea p:nth-of-type(2){
    font-size: 1rem;
    color: gray;
    margin-bottom: 40px;
    width: 380px;
}
.leader .textarea svg{
    color: gray;
    margin-right: 10px;
}
.leader .textarea svg:hover{
    color: black;
    cursor: pointer;
}
.second-container .second-content h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.second-container .second-content p{
    font-size: 1.2rem;
}


/* .third-container .third-content .established {} */
/* .third-container .third-content .tracked {} */
/* .third-container .third-content .partners{} */

/* margin-top: 60px; */
/* width: 60%; */