.sidebar-backup{
    display: none;
    width: 100%;
}
.filter-dropmenu{
    padding-block: 1rem;
    border-top: 2px solid rgba(77, 77, 77, 0.15) ;
    border-bottom: 2px solid rgba(77, 77, 77, 0.15) ;
    padding-left: 3rem;
}
.filter-dropmenu div{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    width: 100px;
}
.filter-dropmenu div p{
    color: #FF7A00;
}
.filter-dropmenu div svg{
    color: #FF7A00;
    margin-top: 1px;
    font-weight: 700;
}

.sidebar-backup .search-input-container{
    width: 85%;
    max-width: 400px;
    height: 150px;
    margin:auto;
    border-radius: 10px;
    margin-block: 20px;
}
.sidebar-backup .search-input-container form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline:10% ;
    align-items: center;
}
.sidebar-backup .search-input-container form .input-div{
    position:relative;
    width: 80%;
}
.sidebar-backup .search-input-container form div svg{
    position: absolute;
    font-size: 18px;
    padding-left: 5px;
    padding-block: 10px;
}
.sidebar-backup .search-input-container form input{
    width:100%;
    height: 40px;
    border: 1.5px solid rgba(128, 128, 128, 0.36);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    padding-left: 30px;
    font-family: monospace;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: -1px;
    box-sizing: border-box;
}
.sidebar-backup .search-input-container form input:focus{
    border: 1.5px solid #FF7A00;
    outline: 0.5px solid #FF7A00;
}
.sidebar-backup .dropmenu .filters{
    box-sizing: border-box;
    width: 85%;
    height: fit-content;
    margin:auto;
    border-radius: 10px;
    padding-block: 15px;
}
.sidebar-backup .dropmenu .filters h4{
    padding-block: 10px;
}
.sidebar-backup .dropmenu .filters .filters-container{
    height: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width:860px) {
    .sidebar-backup{
        display:block;
        
    }
    .dropmenu{
        width: 80%;
        position:relative;
        top: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .sidebar-backup .dropmenu .search-input-container{
        width: 80%;
        max-width: 80%;
    }
    .sidebar-backup .dropmenu .filters{
        width: 80%;
        max-width: 80%;
    }
    .sidebar-backup .dropmenu .search-input-container form input{
        width:100%;
    }
}