.cover{
    width: 80%;
    height:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
.cover h2{
    margin-block: 20px;
    font-weight: 900;
    font-size: 2rem;
}
form{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.cover form label{
    align-self: flex-start;
    font-weight: 600;
}
.cover form input{
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    border: 1px solid rgba(77, 77, 77, 0.441);
    text-align: center;
}
form input:focus{
    outline-color: #FF7A00;
}
.cover form div:nth-of-type(1){
 width: 100%;
 position: relative;
}
.cover form div svg{
    position:absolute;
    right: 12px;
    top: 12px;
}
form button{
    align-self: center;
}
.social-networks{
    margin-top: 1rem;
    display: flex;
    gap:2rem;
}
.social-networks div{
    font-size: 2rem;
}
.social-networks div:hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.15);
}
<<<<<<< HEAD
#AuthErr{
    color: rgb(255, 64, 25);
    font-size: 0.9rem;
=======
.cover form h4{
    color:#FF7A00;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 400;
}
.cover form h4:hover{
    scale: 1.04;
    color: #ff9d41;
>>>>>>> 758d6485f954e2b49d1014fd67b786510bb18812
}