.Post{
    display: flex;
    padding-inline: 3rem;
}
.Post .result-display{
    width: 70%;
    
}
.Post .result-display .search-result{
    padding-block: 1rem;
    color: rgba(0, 0, 0, 0.499);
}
.Post .result-display .search-result ~ hr{
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.36);
}
@media (max-width:860px) {
    .Post{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Post .result-display{
        width: 100%;
        padding-right:0;
    }
}
@media (max-width:440px) {
    .Post{
        padding-inline:3rem;
    }
}