.Profile {
    padding-inline: 3rem;
}

.to-flex {
    display: flex;
    justify-content: space-between;
}

.skills-container .skills-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}


.middle-container {
    width: 60%;
    margin-top: 50px;
    color: var(--primary-color);
}

.skills-container p {
    font-weight: 600;
    font-size: 20px;
}

.skills-container .buttons div {
    padding: 5px 10px;
    border: none;
    background: #f5d2b1;
    color: rgba(0, 0, 0, 0.533);
    border-radius: 1rem;
    font-weight: 600;
    font-size: 13px;
}

.lower-container {
    margin-top: 100px;
}

.about-container {
    font-size: 20px;
}

.timeline-container {
    font-size: 20px;
}


.timeline-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    gap: 70px;
}


.Experience-section h3 {
    margin-left: 25px;
}

.about-container p {
    justify-content: center;
    padding-left: 2rem;
    color: var(--primary-color);
}
.about-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-container div svg{
    font-size: 5rem;
    margin-block: 20px;
}
.about-container div svg path{
    fill: rgb(143, 143, 143);
}
.about-container div h4{
    color: var(--primary-color);
}

.Education-section {
    color: var(--primary-color);
}

.Education-section .timeline-content p {
    text-align: left;
    color: var(--primary-color);
}

.timeline-container .Education-section .timeline-content:nth-of-type(1),
.timeline-container .Experience-section .timeline-content:nth-of-type(1) {
    margin-top: 30px;
}

.timeline-container .Education-section .timeline-content {
    padding: 5px 25px;
    padding-left: 0;
    border-right: 1px solid #FF7A00;
    position: relative;
    text-align: right;
    padding-bottom: 15px;
}
.Education-section .addTimeline svg{
    font-size: 2rem;
    color: rgb(143, 143, 143);
}
.Education-section .addTimeline{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    line-height: 25px;
    text-align: center;
    gap: 20px;
    color: rgb(143, 143, 143);
    margin-left: -70px;
}
.Experience-section .addTimeline svg{
    font-size: 2rem;
}
.Experience-section .addTimeline{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    line-height: 25px;
    text-align: center;
    gap: 20px;
    color: rgb(143, 143, 143);
}

.timeline-container .Experience-section {
    color: var(--primary-color);
}

.timeline-container .Experience-section .timeline-content {
    padding: 5px 25px;
    padding-right: 0;
    border-left: 1px solid #FF7A00;
    position: relative;
    padding-bottom: 15px;
    color: var(--primary-color);
}

.timeline-container .Education-section .timeline-content::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF7A00;
    border-radius: 50%;
    right: -6px;
    top: 0;

}


.timeline-container .Experience-section .timeline-content::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF7A00;
    border-radius: 50%;
    left: -6px;
    top: 0;
}


.timeline-container .col-md-6:before {
    padding: 5px;
    margin-right: 5px;
    color: orange;
    background-color: white;
    display: inline-block;
}

.user-about-and-timeline-container {
    margin-top: 50px;
}

.user-about-and-timeline .active {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #FF7A00;
}

.about-and-timeline {
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
}

.about-and-timeline .timeline-info {
    display: flex;
    flex-wrap: wrap;
}

.about-container p {
    max-width: 1100px;
    margin: auto;
}

.a .lower-container {
    margin-top: 30px;
}

.upper-container {
    height: 150px;
    background: linear-gradient(to left, #FF7A00, black);
    box-shadow: 0px 1px 10px 1px black;
}
.Profile .upper-container .col-md-4  .required::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
}
.Profile .upper-container .col-md-4 .image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(50px, 95px);
    border: 2px solid #FF7A00;
}

.Profile .col-md-6 {
    margin-left: 50px;
}

/* .Profile .lower-container {
    padding-left: 2rem;
} */

.Profile .skills-container {
    margin-left: 50px;
    margin-top: 30px;
}

.skills-container p {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.skills-container p img {
    margin-top: -7px;
    margin-left: 5px;
}


.Profile .lower-container .col-md-4 .profile-work .title {
    font-weight: 600;
    color: var(--primary-color);
}

.Profile .lower-container .col-md-4 .profile-work .title img {
    color: var(--primary-color);
}

.Profile .lower-container .col-md-4 .profile-work {
    font-size: 20px;
    color: var(--primary-color);
}

.Profile .lower-container .col-md-4 .profile-work a {
    color: var(--primary-color);
}

.Profile .lower-container .col-md-4 .profile-work a:hover {
    color: #FF7A00;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.Profile .middle-container .col-md-6 .name {
    font-size: 40px;
    color: var(--primary-color);
}

.Profile .middle-container .col-md-6 .job {
    font-size: 20px;
    color: var(--primary-color)
}

.skills-container .buttons {
    margin-top: -30px;
}

.skills-header p {
    gap: 5px;
}

.col-md-2 {
    display: flex;
    height: 50px;
    margin-top: 50px;
}

.user-about-and-timeline-container .user-about-and-timeline {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;

}

.skills-container .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Profile a {
    color: var(--primary-color);
}

.Profile a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: #FF7A00;
    cursor: pointer;
}

/* .col-md-2 div {
    display: flex;
    justify-content: flex-end;
} */

.buttons .cancel {
    background-color: white;
    padding: 12px 20px;
    border: 2px solid red;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: black;
}

.buttons .cancel:hover {
    background-color: rgb(216, 106, 106);
    transition: all 0.3s ease-in-out;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}

/* .address {
    margin-top: 20px;
}

.skills {
    margin-top: 20px;
}

.aboutTimeline .about{
    margin-top: 20px;
}

.aboutTimeline .timeline{
    margin-top: 20px;
}

.workLink {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: -10px;
} */

/* styles.css */

div.react-select-container {
    width: 100%;
}

div.react-select__control {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
}

div.react-select__menu {
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.react-select__option {
    padding: 8px;
}

div.react-select__single-value {
    color: #333;
}

div.react-select__placeholder {
    color: #888;
}


.bu .header .text {
    margin-top: -150px;
    font-size: 30px;
    font-weight: 600;
}

.col-md-2 div button {
    margin: 6px 6px;
    padding: 10px 15px !important;
    cursor: pointer;
    
    letter-spacing: unset;
    font-size: 0.8rem;
}

.Profile .lower-container .col-md-4 .profile-work div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Profile .lower-container .col-md-4 .profile-work div a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lower-container {
    padding-left: 3rem;
}
.shakeButton{
    animation: shakeButton 0.5s linear infinite;
}
.shakeButton::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(255, 13, 0);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
}
.profileSubmit {
    background-color: #FF7A00;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: white;
    margin: 6px 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileModal .modal-content h2, form,input,textarea{
    color: var(--primary-color);
}
.profileModal .modal-content form .skillset{
    color: black;
}
.profileModal .modal-content{
    max-width: unset !important;
    width: 70% !important;
}
.profileModal .modal-content h2{
    margin-bottom: 20px !important;
}
.profileSubmit:hover {
    background-color: #ffb261;
    transition: all 0.3s ease-in-out;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}
.modal-content .skillset{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
}
.modal-content .skillset div{
    display: flex;
    background-color: #ffb261;
    align-items: center;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    gap: 5px;
    text-transform: capitalize;
}
.modal-content .skillset div svg{
    font-size: 1.2rem;
}
@keyframes shakeButton {
    0% {
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-2deg);
    }
    75%{
        transform: rotateZ(2deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@media (max-width:860px) {
    .about-and-timeline .timeline-content p {
        font-size: 1rem;
    }



    .about-container p {
        font-size: 16px;
    }

    .col-md-2 {
        margin-top: 55px;
    }

}

@media (max-width:720px) {
    .about-container p {
        justify-content: center;
        text-align: center;
        width: 80%;
        font-size: 16px;
        padding-left: unset;
    }

    .Profile .middle-container .col-md-6 .name {
        font-size: 1.8rem;
    }

    .Profile .middle-container .col-md-6 .job {
        font-size: 1rem;
    }

    .Profile .middle-container .col-md-6 p {
        font-size: 0.8rem;
        
    }

    .col-md-2 div button {
        font-size: 0.6rem;
    }

    .col-md-2 {
        margin-top: 55px;
    }

}

@media (max-width:640px) {
    .about-container p {
        font-size: 16px;
    }

    .timeline-container {
        flex-direction: column;
    }

    .Education-section {
        width: 100%;

    }

    .Experience-section {
        width: 100%;

    }

    .timeline-container .Education-section .timeline-content {
        padding: 5px 25px;
        padding-right: 0;
        border-right: 0;
        border-left: 1px solid #FF7A00;
        position: relative;
        padding-bottom: 15px;
        color: var(--primary-color);
    }

    .timeline-container .Education-section .timeline-content::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #FF7A00;
        border-radius: 50%;
        left: -6px;
        top: 0;
    }

    .timeline-container .Education-section .timeline-content::after {
        display: none;
    }

    .Experience-section h3 {
        margin-left: 0;
    }

    .skills-container .buttons button {
        font-size: 0.65rem;
    }
    .Education-section .addTimeline svg{
        font-size: 1.5rem;
    }
    .Education-section .addTimeline{
        margin-top: 60px !important;
        margin-left: unset;
        margin: auto;
        font-size: 1rem
    }
    .Experience-section .addTimeline svg{
        font-size: 1.5rem;
    }
    .Experience-section .addTimeline{
        margin-top: 60px !important;
        margin: auto;
        font-size: 1rem
    }

}

@media (max-width:590px) {
    .Profile .col-md-6 {
        margin-left: 0;
    }

    .Profile .skills-container {
        margin-left: 0;
    }

    .skills-container .buttons button {
        font-size: 0.6rem;
    }
    .profileModal .modal-content h2{
        font-size: 1.5rem;
    }
    .about-container p {
        width: 90%;
    }

    .lower-container {
        padding-left: 0;
    }

    .Profile .lower-container .col-md-4 .profile-work a {
        font-size: 1rem;
    }
}

@media (max-width:540px) {
    .Profile .middle-container .col-md-6 .name {
        font-size: 1.3rem;
        margin-top: 15px;
    }

    .Profile .middle-container .col-md-6 .job {
        font-size: 0.8rem;
    }

    .Profile .middle-container .col-md-6 p {
        font-size: 0.7rem;
    }

    .col-md-2 {
        margin-top: 65px;
        flex-direction: column;
    }

    .col-md-2 button {
        width: 100%;

    }
}

@media (max-width:450px) {
    .Profile {
        padding-inline: 2rem
    }

    .col-md-2 {
        display: flex;
        flex-direction: column;
        margin-left: 3px;
    }

    .col-md-2 div button {
        font-size: 0.5rem;
    }

    .Profile .lower-container .col-md-4 .profile-work .title {
        font-size: 1.2rem;
    }

    .Profile .lower-container .col-md-4 .profile-work a {
        font-size: 0.9rem;
    }

    .middle-container {

        /* margin-left: -50px; */
    }

    .skills-container p {
        font-size: 1.2rem;
        margin-bottom: 10px;
        /* margin-left: -50px; */
    }



    .Education-section {
        width: 100%;
    }

    .Experience-section {
        width: 100%;
    }

    .skills-container .buttons .part-two button {
        font-size: 12px;
        font-weight: 700;
        width: 150px;
    }

    .timeline-container {
        gap: 50px;
    }

    .about-and-timeline .timeline-content p {
        font-size: 13px;
    }

    .about-and-timeline .timeline-container .Education-section {
        /* width: 134px; */
    }

    .about-and-timeline .timeline-container .Experience-section {
        /* width: 134px; */
    }


    .Profile .upper-container .col-md-4 .image-container img {
        transform: translate(127px, 95px);
    }

    .about-and-timeline .timeline-content p {
        font-size: 0.9rem;
    }

    .about-container p {
        width: 100%;
    }

    .Education-section h3 {
        font-size: 1.2rem;
    }

    .Experience-section h3 {
        font-size: 1.2rem;
    }
}

@media (max-width:375px) {

    .Profile .upper-container .col-md-4 .image-container img {
        transform: translate(90px, 95px);
    }

    .skills-container .buttons button {
        font-size: 0.5rem;
    }

    .timeline-container {
        gap: 50px;
    }

    .about-and-timeline .timeline-content p {
        font-size: 16px;
    }

}

@media (max-width:412px) {}

@media (max-width:390px) {
    .timeline-container {
        gap: 50px;
    }

    .Profile .upper-container .col-md-4 .image-container img {
        transform: translate(93px, 95px);
    }
}

@media (max-width:393px) {
    .timeline-container {
        gap: 50px;
    }

    .Profile .upper-container .col-md-4 .image-container img {
        transform: translate(93px, 95px);
    }

}

@media (max-width:360px) {
    .timeline-container {
        gap: 50px;
    }

    .Profile .upper-container .col-md-4 .image-container img {
        transform: translate(81px, 95px);
    }
}