.sifter .filter-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.sifter .filter-item {
    letter-spacing: -1px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #FF7A00;
    border-radius: 10px;
    color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sifter .filter-item:hover {
    background-color: #FF7A00;
    color: var(--primary-color);

}

.sifter .filter .active {
    background-color: #FF7A00;
    color: var(--primary-color);
}

.sifter .filter>h4 {
    font-size: 14px;
}