.button {
    margin: 6px 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #FF7A00;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: white;
}


.button:hover {
    background-color: #ffb261;
    transition: all 0.3s ease-in-out;
    color: white;
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}