.sidebar{
   margin-right: 50px;
   padding-block: 45px;
   position: sticky;
   top: -70px;
   height:fit-content;
   width:40%;
   box-sizing: border-box;
}
.sidebar .search-input-container{
    width: 85%;
    max-width: 400px;
    height: 250px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(77, 77, 77, 0.441);
    margin-bottom: 50px;
}
.sidebar .search-input-container form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline:20% ;
    align-items: center;
}
.sidebar .search-input-container form input{
    width: 100%;
    height: 40px;
    border: 1.5px solid rgba(128, 128, 128, 0.36);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    padding-left: 60px;
    font-family: monospace;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -1px;
}
.sidebar .search-input-container form input:focus{
    border: 1.5px solid #FF7A00;
    outline: 0.5px solid #FF7A00;
}
.sidebar .filters{
    box-sizing: border-box;
    width: 85%;
    max-width: 400px;
    height: fit-content;
    margin:auto;
    border-radius: 10px;
    padding-inline: 10%;
    padding-block: 30px;
    box-shadow: 2px 2px 20px rgba(77, 77, 77, 0.441);
}
.sidebar .filters h4{
    padding-block: 10px;
    
}
.sidebar .filters>h3{
    font-weight: 700;
    margin-bottom: 5px;
}
.sidebar .filters .filters-container{
    height: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}