.footer{
   /* position: relative;
   width: 100%;
   bottom:0; */
   margin-top: 5rem;
   border-top: 1px solid rgba(0, 0,0,0.196);
}
.section__padding{
    padding-inline: 5rem;
    
}

.sb__footer{
    display: flex;
    flex-direction: column;
}

.sb__Footer-links{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 2rem;
}

.sb__Footer-links-div{
    margin: auto;
    display: flex ;
    padding-inline: 5rem;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 830px;
}
@media (max-width:460px) {
    .sb__Footer-links-div{
        flex-direction: column;
        text-align: center;
        gap:2rem;
    }
}
.sb__Footer-links-div div{
    display: flex;
    flex-direction: column;
}
a{
    color: var(--primary-color);
    text-decoration: none;
}

.sb__Footer-links-div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: #FF7A00;
    font-weight: 800;
}

.sb__Footer-links-div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem;
    cursor: pointer;
}
.sb__Footer-copyright{
    display:flex;
    justify-content: center;
    color: var(--primary-color);
}