.LoginSignup .card{
    width: 100%;
    max-width: 30rem;
    margin: auto;
    
}
.LoginSignup .card .cover form input{
    font-size: 1rem;
}
.LoginSignup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.Welcome-Users-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    width: 50%;
    height: 100%;
    background: linear-gradient(#FF7A00 10%,#ff8c00 30%,#ff6a00 50%);
    justify-content: center;
}
.Welcome-Users-Text h3{
    font-size: 2.6rem;
    width: 60%;
}
.Welcome-Users-Text .wave-emoji{
    width: 200px;
    margin-bottom: 40px;
    animation: animateWave 2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
@keyframes animateWave {
    0% {transform: translateY(-100px)}
    25% {transform: translateY(0px)}
    50% {transform: translateY(-50px)}
    75% {transform: translateY(0px)}
    80% {transform: translateY(-25px)}
    85% {transform: translateY(0px)}
    90% {transform: translateY(-15);}
    100% {transform: translateY(0px)}

}
.Welcome-Users-Text h3~img{
    height: 100px;
    
}

.Welcome-Users-Text p{
    font-size: 1.3rem;
    width: 60%;
}


@media (max-width:860px) {

    .LoginSignup{
        flex-direction: column;
    }
    .LoginSignup .card{
        padding-bottom: 100px;
    }
    .Welcome-Users-Text{
        margin-bottom: 100px;
        width: 100%;
        padding-bottom: 100px;
        padding-top: 100px;
        
    }

    .Welcome-Users-Text h3{
        font-size: 2rem;
        width: 60%;
    }
    .Welcome-Users-Text p{
        font-size: 1.1rem;
        width: 50%;
    }
    
}