.LoginSignup .card{
    padding-block: 2rem;
    width: 90%;
    max-width: 30rem;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 20px rgba(77, 77, 77, 0.441);
}
.LoginSignup{
    display: flex;
    padding-inline: 3rem;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.Welcome-Users-Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Welcome-Users-Text h3{
    font-size: 2.6rem;
    width: 60%;
}
.Welcome-Users-Text .wave-emoji{
    animation: animateWave 2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
@keyframes animateWave {
    0% {transform: translateY(-100px)}
    25% {transform: translateY(0px)}
    50% {transform: translateY(-50px)}
    75% {transform: translateY(0px)}
    80% {transform: translateY(-25px)}
    85% {transform: translateY(0px)}
    90% {transform: translateY(-15);}
    100% {transform: translateY(0px)}

}
.Welcome-Users-Text h3~img{
    height: 100px;
    
}

.Welcome-Users-Text p{
    font-size: 1.3rem;
    width: 60%;
}


@media (max-width:860px) {

    .LoginSignup{
        flex-direction: column;
        padding-inline: 1rem;
    }
    .Welcome-Users-Text{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .Welcome-Users-Text h3{
        font-size: 2rem;
        width: 60%;
    }
    .Welcome-Users-Text p{
        font-size: 1.1rem;
        width: 60%;
    }
    
}