
*{
    margin:0;
    padding:0;
}
.navbar{
    position: sticky;
    top: 0;
    background-color:#fff;
    padding-bottom:1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.196);
    z-index: 10;
}
.nav-item-container{
    padding-top:1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:3rem;
}

.nav-item-container>a{
    height:60px;
}
.nav-item-container img{
    cursor: pointer;
}
.nav-item-container .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width:50%;
}
.nav-item-container .nav-links .nav-link a{
    color: black;
}
.nav-item-container .nav-links .nav-link:hover{
    text-decoration: underline;
    text-underline-offset:5px;
    
}
.nav-item-container .navButtons{
    display: flex;
    align-items: center;
    gap:1rem;
}
.nav-item-container .navButtons .profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.nav-item-container .navButtons .profile-picture:hover{
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
}
.openIcon{
    display: none;
}
.openIcon svg{
    cursor: pointer;
    color: #0000009c;
    font-size: 24px;
}
.closeIcon{
    display:none;
    right: 0;
}
.open-navbar{
    display: none;
}
.close-navbar{
    display: none;
    width: 0;
}
.open-navbar div p{
    color: #fff !important;
}
.closeIcon svg{
    color: #FF7A00;
    cursor: pointer;
}


@media (min-width: 1000px) {
    .nav-item-container .nav-links{
        gap: 2rem;
    }
}
@media (min-width:670px) {
    .nav-item-container .nav-links div p:hover{
        color: #FF7A00;
        cursor: pointer;
    }
    
}
@media (max-width:860px) {
    .nav-item-container .nav-links{
        display: none;
    }
    .openIcon{
        display: block;
        font-size: 24px;
        height: 24px;
        padding-bottom: 3px;
    }
    .closeIcon{
        display: block;
        font-size: 28px;
        height: 28px;
        transition: all 0.5s;
        align-self: flex-end;
        margin-right: 30px;
    }
    .open-navbar{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 60%;
        height:100dvh;
        background-color: #000;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .nav-item-container .nav-links .nav-link:hover{
        text-decoration: underline;
        text-decoration-color: #FF7A00;
    }
    .nav-item-container .navButtons{
        display: none;
    }
    .nav-item-container .navButtons button{
        border: 1px solid #FF7A00;
    }

}
@media (max-width:450px) {
    .nav-item-container{
        padding-inline:2rem;
    }
    .open-navbar{
        width: 70%;
    }
}

